
/* Your CSS Code here. */
*{
	padding:0px;
	margin:0px;
}

.main{
    width:200px;
	background-color:purple;
	border-left:5px solid green;
	padding:10px;
}
.heading{
	font-size:20px;
	color:white;
	text-decoration:underline;
}


